<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.hxyac.board.mapper.ChatMapper">
    <insert id="insertChatSql" useGeneratedKeys="true" keyProperty="chatId">
        INSERT INTO t_chat(chat_uuid, chat_send_uuid, chat_receive_uuid, chat_time, chat_content)
        VALUE (#{chat.chatUuid,jdbcType=CHAR},#{chat.chatSendUuid,jdbcType=CHAR},#{chat.chatReceiveUuid,jdbcType=CHAR},#{chat.chatTime,jdbcType=BIGINT},#{chat.chatContent,jdbcType=VARCHAR});
    </insert>
</mapper>